
@{

}
<a class="navbar-brand" href="@Url.Action("Index","Home")">Administrativa Eshopu</a>

<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
  
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Hra","Hra")">Správa her</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Platforma","Platforma")">Správa platforem</a>


        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Vydavatel","Vydavatel")">Správa Vydavatelů</a>


        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Uzivatele","Ucet")">Správa účtů</a>


        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("DopravaMoznosti","KombinaceMoznosti")">Správa možností dopravy</a>


        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("PlatebMoznosti","KombinaceMoznosti")">Správa možností plateb</a>


        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("KombinaceMoznosti","KombinaceMoznosti")">Správa kombinace možnosti</a>


        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Objednavky","Objednavka")">Správa Objednávek</a>


        </li>
        @if (User.Identity.Name != "")
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("SignOut","Login",new {area =""})">odhlásit se @User.Identity.Name</a>


            </li>
        }

    </ul>
</div>
