@using System.Collections
@using DataKnihovna.DAO
@using DataKnihovna.Model
@model KombinaceMoznosti


@{
    ViewBag.Title = "Editace kombinace možnosti";
    Layout = "../Shared/_Layout.cshtml";

}

<h2>Editece kombinace možnosti - @Model.DopravaMoznost.Nazev + @Model.PlatbaMoznost.Nazev </h2>

@using (Html.BeginForm("editatKM", "KombinaceMoznosti", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Aktivovano)



    <div class="alert">
        <span class="closebtn">&times;</span>
        <strong>POZOR!! </strong>Pro následující políčko pod tímto varováním platí: Pokud použijete desetinou tečku místo desetinné čárky, má to za následek, že hodnota se nastaví na 0,0
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Pozměněná cena za dopravu - při splnění podmínek</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.CenaDoprava, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01" } })
            @Html.ValidationMessageFor(x => x.DopravaMoznost)
        </div>

    </div>

    <div class="alert">
        <span class="closebtn">&times;</span>
        <strong>POZOR!! </strong>Pro následující políčko pod tímto varováním platí: Pokud použijete desetinou tečku místo desetinné čárky, má to za následek, že hodnota se nastaví na 0,0
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Pozměněná cena za platbu - při splnění podmínek</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.CenaPlatebni, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01" } })
            @Html.ValidationMessageFor(x => x.CenaPlatebni)
        </div>

    </div>
    <div class="alert">
        <span class="closebtn">&times;</span>
        <strong>POZOR!! </strong>Pro následující políčko pod tímto varováním platí: Pokud použijete desetinou tečku místo desetinné čárky, má to za následek, že hodnota se nastaví na 0,0
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Požadovaná cena za Objednávku</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.CenaObjednavky, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01" } })
            @Html.ValidationMessageFor(x => x.CenaObjednavky)
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Požadovaný typ platby</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.PlatbaMoznost, new SelectList(@ViewBag.platby, "Id", "Nazev", "id"))

            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Požadovaný typ dopravy</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.DopravaMoznost, new SelectList(@ViewBag.dopravy, "Id", "Nazev", "id"))

            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Provést editaci</button>
        </div>
    </div>

}
