@using DataKnihovna.Model
@model IList<DataKnihovna.Model.KombinaceMoznosti>
@{
    ViewBag.Title = "Kombinace moznosti";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Kombinace Moznosti</h2>


<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Doprava</th>
            <th>Platba</th>
            <th>Požadovaná cena objednávky</th>
            <th>Pozměněná cena dopravy</th>
            <th>Pozměněná cena platby</th>
            <th>Pozměněná cena platby</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KombinaceMoznosti predmet in Model)
        {
            <tr bgcolor="@(predmet.Aktivovano==false? "#854747" : "")">
                <td>
                    @predmet.Id
                </td>
                <td>
                    @predmet.DopravaMoznost.Nazev @predmet.DopravaMoznost.Cena Kč
                </td>
                <td>
                    @predmet.PlatbaMoznost.Nazev @predmet.PlatbaMoznost.Cena Kč

                </td>
                <td>
                    @predmet.CenaObjednavky Kč

                </td>
                <td>
                    @predmet.CenaDoprava Kč

                </td>
                <td>
                    @predmet.CenaPlatebni Kč

                </td>
                <td>

                    @using (Ajax.BeginForm("aktivaceKM", "KombinaceMoznosti", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Obsah" }))
                    {
                        @Html.Hidden("_id", predmet.Id)
                        if (ViewBag.vse != null)
                        {

                            @Html.Hidden("vse", (string)@ViewBag.vse.ToString())
                        }
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                @{
                                    if (predmet.Aktivovano)
                                    {
                                        <button type="submit" class="btn btn-primary">Deaktivovat</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary">Aktivovat</button>
                                    }
                                }

                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("editKM", "KombinaceMoznosti", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.Hidden("_id", predmet.Id)

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Editovat možnost</button>
                            </div>
                        </div>
                    }
                    @using (Ajax.BeginForm("smazatKM", "KombinaceMoznosti", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Obsah" }))
                    {
                        @Html.Hidden("_id", predmet.Id)

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Odstranit Možnost</button>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }

    </tbody>



</table>


<form>
    <a href="@Url.Action("novaKM", "KombinaceMoznosti")" class="btn btn-primary">
        Vytvořit novou kombinaci
    </a>
</form>