@using System.Collections
@using DataKnihovna.DAO
@using DataKnihovna.Model
@model DataKnihovna.Model.Hra


@{
    ViewBag.Title = "NovaHra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editece hry @Model.Nazev </h2>

@using (Html.BeginForm("Update", "Hra", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Ikona)
    @Html.HiddenFor(x => x.TypIkona)
    @Html.HiddenFor(x=>x.Id)
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nazev</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Nazev, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Nazev)
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Cena</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Cena, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Cena)
        </div>

    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Platforma</label>
        <div class="col-sm-10">
            @*   @Html.DropDownListFor(x=>x.Platforma, new SelectList(ViewBag.platformy,"Id", "Nazev"))*@
            @*@Html.DropDownListFor(x => x.Platforma,  ViewBag.platformy, "Vyberte platformu", new { @class = "form-control" })*@
            @*@Html.DropDownListFor(x=>x.Platforma.Id,new SelectList(ViewBag.platformy,"Id","Nazev"))*@
            @*    @Html.DropDownListFor(x => x.Platforma, ViewBag.platformy as SelectList, "--Vyberte Platformu --")*@
            @*@Html.DropDownListFor(x => x.Platforma.Id,new SelectList(ViewBag.platformy, "Id", "Nazev")*@
            @*@Html.DropDownListFor(x => x.Platforma.Id, (SelectList)ViewBag.platformy)*@

            @Html.DropDownList("_platforma", new SelectList(@ViewBag.platformy, "Id", "Nazev", "id"))
            @*  @Html.DropDownList("_platforma",new SelectList(@ViewBag.platformy,"Id","Nazev"), new { @class = "form-control" })*@
            @* @Html.DropDownListFor(x => x.Platforma, new SelectList(@ViewBag.platformy, "id","Nazev",@ViewBag.platformy), new { @class = "form-control" })*@

        </div>


    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">DPH</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Dph, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Dph)
        </div>

    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Sleva</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Sleva, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Sleva)
        </div>

    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Skladem</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Skladem, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Skladem)
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label for="inputPassword3">
                Aktivovat pro zákazníky
                <div class="col-sm-10">
                    @Html.CheckBoxFor(x => x.Aktivovano, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Aktivovano)
                </div>
            </label>
        </div>

    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Vydavatel</label>
        <div class="col-sm-10">
            @*  @Html.DropDownList("Vydavatel", new SelectList(ViewBag.vydavatele, "Id", "Nazev"))*@

            @Html.DropDownList("_vydavatel", new SelectList(ViewBag.vydavatele, "Id", "Nazev"))
            @*@Html.DropDownListFor(x => x.Vydavatel, new SelectList( ViewBag.vydavatele, "Id","Nazev"), new { @class = "form-control" })*@

        </div>

    </div>
    <div class="form-group">

        <label for="inputPassword3">
            Datum vydání - text
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Vydano, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Vydano)
            </div>
        </label>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Popis</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Popis, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Popis)
        </div>

    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Obrazek krabičky hry</label>
        <div class="col-sm-10">
            <input type="file" name="obrazek" />
        </div>

    </div>
    if(!string.IsNullOrEmpty(Model.Ikona))
     {
    <label>Původní ikona</label><br>
        <img src="@Url.Content("~/uploads/hry/"+Model.Ikona)"/>
      
     }
  
    if(string.IsNullOrEmpty(Model.Ikona))
     {
         @Html.Label( "Hra nemá nastavenou ikonu")
     }
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
}