@using DataKnihovna.Model
@model Hra
@{
                /**/

                ViewBag.Title = "Detail Hry" + Model.Nazev;
                Layout = "../Shared/_Layout.cshtml";

                double aktCena = (1.0 - Model.Sleva);
                aktCena = aktCena * Model.Cena;
                double slev = Model.Sleva * 100;
                String slevicka = String.Concat(slev.ToString(), "%");
                Double usetreni = Model.Cena - aktCena;
}

<h2>Detail Hry @Model.Nazev</h2>
@if (!string.IsNullOrEmpty(Model.Ikona))
{
    <label>Náhledový obrázek</label><br>
    <div class="popup-gallery">
        <a href="@Url.Content("~/uploads/hry/" + Model.Ikona)"><img src="@Url.Content("~/uploads/hry/" + Model.Ikona)"></a>

    </div>
}
@if (string.IsNullOrEmpty(Model.Ikona))
{
    @Html.Label("Hra nemá nastavenou ikonu")
} @using (Html.BeginForm("aktivace2", "Hra", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("_id", Model.Id)
   
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @{
                if (Model.Aktivovano)
                {
                    <button type="submit" class="btn btn-primary">Deaktivovat hru</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Aktivovat hru</button>
                }
            }

        </div>
    </div>
}
Objednávací kód: @DataKnihovna.Utility.Utilita.formalizer(Model.Id) <br />
Název: @DataKnihovna.Utility.Utilita.formalizer(Model.Nazev)<br />
Aktuální sleva: @DataKnihovna.Utility.Utilita.formalizer(Model.Sleva * 100)%<br />
<strong>Aktuální cena bez DPH: @DataKnihovna.Utility.Utilita.formalizer(Model.aktualniCena()) </strong><br />
<strong>Aktuální cena s DPH: @DataKnihovna.Utility.Utilita.formalizer(Model.aktualniCenasDPH()) </strong><br />
Platforma: @DataKnihovna.Utility.Utilita.formalizer(Model.Platforma.Nazev)<br />
Vydavatel: @DataKnihovna.Utility.Utilita.formalizer(Model.Vydavatel.Nazev)<br />

<hr class="">
Cena (bez slevy): @DataKnihovna.Utility.Utilita.formalizer(Model.Cena)<br />


Ušetříte: @DataKnihovna.Utility.Utilita.formalizer(Model.usetreni())<br />


Skladem: @DataKnihovna.Utility.Utilita.formalizer(Model.Skladem)<br />
Datum vydání: @DataKnihovna.Utility.Utilita.formalizer(Model.Vydano);<br />
DPH:@DataKnihovna.Utility.Utilita.formalizer(Model.Dph)<br />

<br /><hr class="">
<H3>Popis hry</H3>
@Html.Raw(@DataKnihovna.Utility.Utilita.formalizer(Model.Popis))<br />

<hr class="">
<br />
<H3>Galerie obrázků</H3>

<a href="@Url.Action("pridatObrazek", "Hra",new{id_hry=Model.Id})" class="btn btn-primary">
    Přidat nový obrázek do galerie
</a>

<br><br>
@if (ViewBag.obrazky != null)
{


    <div class="html-code grid-of-images">
        <div class="popup-gallery">
            @if (ViewBag.obrazky != null)
            {
                foreach (Obrazek obrazek in ViewBag.obrazky)
                {
                    @Ajax.ActionLink("Odstranit obrázek", "deleteObrazek", "Hra", new { hra = Model.Id, ido = obrazek.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Obsah" })
                    <a href="@Url.Content("~/uploads/hry/" + obrazek.Ikona)" title='      @Ajax.ActionLink("Odstranit obrázek", "deleteObrazek","Hra", new {hra=Model.Id,ido = obrazek.Id},new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Obsah" })<br/>
'><img src="@Url.Content("~/uploads/hry/" + obrazek.Ikona)" width="75" height="75"></a>
                }

            }
        </div>
    </div>

    <!-- #endregion Jssor Slider End -->
}








<script type="text/javascript">
    $(document).ready(function () {
        $('.popup-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                titleSrc: function (item) {
                    return item.el.attr('title');
                }
            }
        });
    });
</script>